@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552571218590'); /* IE9 */
  src: url('iconfont.eot?t=1552571218590#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABlAAAAJAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApccAE2AiQDCAsGAAQgBYRtBy0bkwURBQzJfiTY4Bbq1BvnJKtAbr4yqoQW6Tfx8LXf67n7NkgOUGW+ykQCO0CJWA8sgYSsBBSy4+uBJOvqb3m7988eZm82ISpKYBO60Kr7PzXDvtABZWGfJ96lmff/zrhc1/Mal6iABaxP3Dv9o4ACmQ8olzEGrTGoC6iLAynQPTCKrC+UccPYBS7hOYFa3Upitp5fpzJrXSAuzPEuzQVlmWWqhcqao1k8UaE63U0fwOOQ+fiH4agmqShYNctHcwfOzy92TnG7fNuGTwgR0OkKFCghE+u1yUUsGKdQmxT97Ksy+PmlXPYdYq9Wwf46q7wedELZPcndtQIkuK2ZOtEzagvRea0Ud17ceybVe9zbz+saEvf+yygaxFUMDtNTGls6Ww1cmGT9rJhM3iMQXP747FLbNPq/Omfw6d31Y2jJ+rmp3pcr+CfynkNZV1r2lFV57XjSea6OWrUow95WP8aaOm4gG6p1jHBX6UpRqDZIZnYJFeqMoFK1cqPW0pyu05EU5QgY8gYg5gOn+mDmSwr7B2/4I7BIkbzoV2YzjLiEPeMEwwvMuMzScbKIKo+obr6nrDLkXpF2E4EyK4qZBmekOXbsd1UxS5C0BKjBa+j9AistFkfONPN6yHNZ96FsXEIkXAT1GJqAwQswRouZ9CczUfr+EVJuvB61DNRErxDZmflBKVP0IBvd3GvgXt7Z3SkVxiQgkUUAarAIed4CrPWLLDRiGT0ivjrI7VGyry5b3xC+7hTUsswp7AYG705TFAEAAA==') format('woff2'),
  url('iconfont.woff?t=1552571218590') format('woff'),
  url('iconfont.ttf?t=1552571218590') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552571218590#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e6da";
}

